<app-nav></app-nav>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>
        <div class="row">
            <div class="col-12 mt-5 ">
                <mat-card style="background-color: rgba(248, 240, 250, 0.742);">
                    <mat-card-content>
                        <div style="display: flex;">
                            <span>
                                <img mat-card-image
                                    src="https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/2020-Chevrolet-Corvette-Stingray/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=1440"
                                    height="250" alt="Photo of a Shiba Inu">

                            </span>
                            <span style="margin-left: 20px;">
                                <h1>
                                    2020 Chevrolet Corvette Stingray CHEVROLET 1LT
                                </h1>
                                <h3>Its new mid-engine configuration and sleek, modern design, the 2020 Chevrolet
                                    Corvette Stingray offers unprecedented performance...</h3>
                                <p>Price Starts from <span><b>$64,000</b></span></p>
                                <button mat-raised-button color="primary">Book Appointment</button>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 ">
                <mat-card style="background-color: rgba(248, 240, 250, 0.742);">
                    <mat-card-content>
                        <div style="display: flex;">
                            <span>
                                <img mat-card-image
                                    src="https://imageio.forbes.com/specials-images/imageserve/5d3703b3090f4300070d570d/2020-Cadillac-CT5/0x0.jpg?format=jpg&crop=4842,2723,x288,y538,safe&width=1440"
                                    height="250" alt="Photo of a Shiba Inu">
                            </span>
                            <span style="margin-left: 20px;">
                                <h1>
                                    2020 Cadillac CT5CADILLAC
                                </h1>
                                <h3>The Cadillac CT5 replaces the midsize CTS for 2020, and is dynamically styled with a
                                    broad grille</h3>
                                <p>Price Starts from <span><b>$38,000</b></span></p>
                                <button mat-raised-button color="primary">Book Appointment</button>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 ">
                <mat-card style="background-color: rgba(248, 240, 250, 0.742);">
                    <mat-card-content>
                        <div style="display: flex;">
                            <span>
                                <img mat-card-image
                                    src="https://imageio.forbes.com/specials-images/imageserve/5d37033a95e0230008f64eb2/2020-Aston-Martin-Rapide-E/0x0.jpg?format=jpg&crop=3000,1687,x0,y157,safe&width=1440"
                                    height="250" alt="Photo of a Shiba Inu">
                            </span>
                            <span style="margin-left: 20px;">
                                <h1>
                                    2020 Aston Martin Rapide EASTON MARTIN
                                </h1>
                                <h3>The Cadillac CT5 replaces the midsize CTS for 2020, and is dynamically styled with a
                                    broad grille</h3>
                                <p>Price Starts from <span><b>$38,000</b></span></p>
                                <button mat-raised-button color="primary">Book Appointment</button>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 ">
                <mat-card style="background-color: rgba(248, 240, 250, 0.742);">
                    <mat-card-content>
                        <div style="display: flex;">
                            <span>
                                <img mat-card-image
                                    src="https://imageio.forbes.com/specials-images/imageserve/5d3703b3090f4300070d570d/2020-Cadillac-CT5/0x0.jpg?format=jpg&crop=4842,2723,x288,y538,safe&width=1440"
                                    height="250" alt="Photo of a Shiba Inu">
                            </span>
                            <span style="margin-left: 20px;">
                                <h1>
                                    2020 Cadillac CT5CADILLAC
                                </h1>
                                <h3>The Cadillac CT5 replaces the midsize CTS for 2020, and is dynamically styled with a
                                    broad grille</h3>
                                <p>Price Starts from <span><b>$38,000</b></span></p>
                                <button mat-raised-button color="primary">Book Appointment</button>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 ">
                <mat-card style="background-color: rgba(248, 240, 250, 0.742);">
                    <mat-card-content>
                        <div style="display: flex;">
                            <span>
                                <img mat-card-image
                                    src="https://imageio.forbes.com/specials-images/imageserve/5d3703b3090f4300070d570d/2020-Cadillac-CT5/0x0.jpg?format=jpg&crop=4842,2723,x288,y538,safe&width=1440"
                                    height="250" alt="Photo of a Shiba Inu">
                            </span>
                            <span style="margin-left: 20px;">
                                <h1>
                                    2020 Cadillac CT5CADILLAC
                                </h1>
                                <h3>The Cadillac CT5 replaces the midsize CTS for 2020, and is dynamically styled with a
                                    broad grille</h3>
                                <p>Price Starts from <span><b>$38,000</b></span></p>
                                <button mat-raised-button color="primary">Book Appointment</button>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 ">
                <mat-card style="background-color: rgba(248, 240, 250, 0.742);">
                    <mat-card-content>
                        <div style="display: flex;">
                            <span>
                                <img mat-card-image
                                    src="https://imageio.forbes.com/specials-images/imageserve/5d3703b3090f4300070d570d/2020-Cadillac-CT5/0x0.jpg?format=jpg&crop=4842,2723,x288,y538,safe&width=1440"
                                    height="250" alt="Photo of a Shiba Inu">
                            </span>
                            <span style="margin-left: 20px;">
                                <h1>
                                    2020 Cadillac CT5CADILLAC
                                </h1>
                                <h3>The Cadillac CT5 replaces the midsize CTS for 2020, and is dynamically styled with a
                                    broad grille</h3>
                                <p>Price Starts from <span><b>$38,000</b></span></p>
                                <button mat-raised-button color="primary">Book Appointment</button>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 ">
                <mat-card style="background-color: rgba(248, 240, 250, 0.742);">
                    <mat-card-content>
                        <div style="display: flex;">
                            <span>
                                <img mat-card-image
                                    src="https://imageio.forbes.com/specials-images/imageserve/5d3703b3090f4300070d570d/2020-Cadillac-CT5/0x0.jpg?format=jpg&crop=4842,2723,x288,y538,safe&width=1440"
                                    height="250" alt="Photo of a Shiba Inu">
                            </span>
                            <span style="margin-left: 20px;">
                                <h1>
                                    2020 Cadillac CT5CADILLAC
                                </h1>
                                <h3>The Cadillac CT5 replaces the midsize CTS for 2020, and is dynamically styled with a
                                    broad grille</h3>
                                <p>Price Starts from <span><b>$38,000</b></span></p>
                                <button mat-raised-button color="primary">Book Appointment</button>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 ">
                <mat-card style="background-color: rgba(248, 240, 250, 0.742);">
                    <mat-card-content>
                        <div style="display: flex;">
                            <span>
                                <img mat-card-image
                                    src="https://imageio.forbes.com/specials-images/imageserve/5d35eacaf1176b0008974b54/2020-Chevrolet-Corvette-Stingray/0x0.jpg?format=jpg&crop=4560,2565,x790,y784,safe&width=1440"
                                    height="250" alt="Photo of a Shiba Inu">

                            </span>
                            <span style="margin-left: 20px;">
                                <h3>
                                    2020 Chevrolet Corvette Stingray CHEVROLET 1LT
                                </h3>
                                <h5>Its new mid-engine configuration and sleek, modern design, the 2020 Chevrolet
                                    Corvette Stingray offers unprecedented performance...</h5>
                                <p>Price Starts from <span><b>$64,000</b></span></p>
                                <button mat-raised-button color="primary">Book Appointment</button>
                            </span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>